@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sawarabi Gothic";
}

:root {
    --coal: #242424;
    --green: #709255;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--coal);
    color: white;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--coal);
    transition: 1s;
    transform: translateY(-100vh);
}

.nav-header {
    /* align-items: center; */
    text-align: center;
    color: var(--coal);
    background-color: white;
    padding: 1.5rem;
}

.app-title {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accordion-icon {
    position: absolute;
    right: 0;
    padding-right: 2rem;
}

.nav-header, .nav-link, .accordion-content {
    font-size: 1.5rem;
}

.nav-link, .accordion-name {
    margin-left: 2rem;
}

.accordion-subitems {
    font-size: 1.2rem;
    margin-left: 4rem;
}

.nav-link:hover {
    color: var(--green)
}

.nav-btn {
    font-size: 1.5rem;
}

.nav-close-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--coal);
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.responsive_nav {
    transform: none;
}

/* TODO: Style for Desktop later */