@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sawarabi Gothic";
}

:root {
    --coal: #242424;
    --green: #709255;
}