@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sawarabi Gothic";
}

:root {
    --coal: #242424;
    --green: #709255;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--coal);
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    /* padding-top: 2rem; */
    /* padding-left: 4rem; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 2rem;
    background: var(--coal);
    transition: 1s;
    transform: translateY(-100vh);
}

.app-title {
    font-size: 2rem;
}

.nav-header, .nav-link {
    margin: 0 2rem;
    font-size: 1.5rem;
}

.nav-header {
    background-color: white;
    padding: 1.5rem 100vw;
    color: var(--coal);
}

.nav-link:hover {
    color: var(--green)
}

.nav-btn {
    font-size: 1.5rem;
}

.nav-close-btn {
    /* padding: 5px; */
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--coal);
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.responsive_nav {
    transform: none;
}

/* TODO: Style for Desktop later */